body {
  background: #e7eaf6;
}
.container {
  max-width: 700px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  text-align: center;
}
.weather-app-wrapper {
  border: 4px solid #759fbc;
  border-radius: 25px;
  max-width: 700px;
  background: linear-gradient(178deg, rgba(201, 234, 252, 0.51) 14.9%, rgba(139, 192, 216, 0.73) 80%);
  color: #527795;
  margin: 10px auto 0px;
  font-family: "Inter", sans-serif;
}
h1,
h2,
h3 {
  line-height: 50px;
  text-align: center;
  font-family: "Inter", sans-serif;
}
h1 {
  font-size: 20px;
}
h2 {
  font-size: 50px;
  line-height: 20px;
}
h3 {
  font-size: 15px;
}
.time {
  padding: 5px;
}
#city-input {
  max-width: 600px;
  margin: 0 auto;
  border: 4px solid #759fbc;
  border-radius: 25px;
  background: #e7eaf6;
  color: #759fbc;
  font-family: "Inter", sans-serif;
}
#city {
  text-transform: capitalize;
}
.buttons {
  text-align: center;
  margin: 5px auto 25px;
}

.btn-primary {
  color: #e7eaf6;
  background: #527795;
  border: 1px solid #527795;
  border-radius: 25px;
  padding: 0px 45px;
  transition: all 200ms ease-in-out;
  font-family: "Inter", sans-serif;
}
.btn-primary:hover {
  background: #0a2140;
  color: #e7eaf6;
  border: 1px solid #527795;
}
.btn-secondary {
  color: #e7eaf6;
  background: #527795;
  border: 1px solid #527795;
  border-radius: 25px;
  padding: 0px 45px;
  transition: all 200ms ease-in-out;
  font-family: "Inter", sans-serif;
}
.btn-secondary:hover {
  background: #0a2140;
  color: #e7eaf6;
  border: 1px solid #113f67;
  font-family: "Inter", sans-serif;
}
.row {
  text-align: center;
  margin: 5px;
}
li:first-letter {
  text-transform: capitalize;
}
#icon {
  margin: 0 auto;
  bottom: -10px;
}
h4 {
  font-size: 45px;
  font-family: "Inter", sans-serif;
  text-align: left;
  padding: 10px 0px 10px 120px;
  margin: 60px 0px;
}
.mainEmoji {
  font-size: 110px;
  line-height: 0px;
  margin: -10 auto;
}
.units {
  position: relative;
  top: -25px;
  font-size: 15px;
}
.weatherDetails {
  line-height: 30px;
  text-align: left;
  border-left: 1px solid #e7eaf6;
  padding: 30px 0px 30px 40px;
  margin: 30px 10px;
  font-family: "Inter", sans-serif;
  list-style-type: none;
}
.emoji {
  font-size: 60px;
  line-height: 35px;
  margin: 0 0 40px;
}
.col {
  line-height: 15px;
}
.dayOfTheWeek {
  font-family: "Inter", sans-serif;
}
.sourceCode {
  margin: 0px 10px 10px;
  padding: 0px 10px 10px;
  text-align: center;
}
